<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="hhtps://www.w3.org/2001/XMLSchema-instance"
xmlns="https://xmlns.jcp.org/xml/ns/javaee"
xsi:schemaLocation="hhtp://xmlns.jcp.org/xml/ns/javaee
       http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
       id="WebApp_ID" version="3.1">
       <display-name>Record Management Web Application</display-name>
       <error-page>
       <exception-type>java.lang.Eception</exception-type></error-page>
       <location>Error.jsp</location>
       </web-app>